.Footer{
  width: 100%;
  height: 80px;
  padding: 0 50px;
  /* border-top: 1px solid white; */
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.rsLogo{
  min-width: 110px;
  max-width: 110px;
  height: 45px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transform: rotate(-14deg);
}
.rsSVG{
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.description{
  width: auto;
  margin: 0 30px;
  color: white;
  font-size: 16px;
  text-align: center;
}
.githubLogo{
  min-width: 80px;
  max-width: 80px;
  background-color: transparent;
}
.githubImg{
  width: 100%;
  height: auto;
  pointer-events: none;
}

