.GamePlace{
  width: 100%;
  min-height: calc(100vh - 180px);
  padding: 20px 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.scoreBlock{
  width: 40%;
  height: auto;
  padding-right: 50px;
  border-right: 1px solid white;
}
.Score{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
.Score>h3{
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
}
.Score>div{
  width: 100%;
  height: auto;
  font-size: 30px;
}
.Player{
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.Player:first-of-type{
  margin-bottom: 20px;
}
.Player>span:first-of-type{
  margin-right: 30px;
  text-decoration: underline;
}
.gameBlock{
  width: 60%;
  padding-left: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Game{
  position: relative;
  width: 30vw;
  height: 30vw;
  background-color: violet;
}